<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M12_H_AdditionalSource</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Additional Source</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Enter 
 the amount and source for each.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 - This is the net (not gross) after expenses. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(indicate 
 &quot;gross&quot; or &quot;net)</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Source 
 - </p></li>
	
	<ul style="list-style: circle;"
		type=circle>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Net Rental Income (residential or commercial).</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Net Rental Income from owned business.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 of interest income (CD, savings, land contract or contract for deed).</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Dividends.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from child support.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Social Security.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Alimony.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Amount 
 from Other.</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Comments.</p></li>
	</ul>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
