<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M2_H_ProductsServices</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Employment Options:</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_AutoBodyWork.htm"
	id=a1
	target=_self>Auto Body Work</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_AutoRepair.htm"
	id=a2
	target=_self>Auto Repair</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_AutoSale.htm"
	id=a3
	target=_self>Auto Sales</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_Concrete.htm"
	id=a4
	target=_self>Concrete</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_Construction.htm"
	id=a5
	target=_self>Construction</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_ConvenienceStore.htm"
	target=_self>Convenience Store</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_Electrical.htm"
	id=a6
	target=_self>Electrical</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_Farming.htm"
	id=a7
	target=_self>Farming</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_HeatingAC.htm"
	id=a8
	target=_self>Heating and AC</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_MachineShop.htm"
	id=a9
	target=_self>Machine Shop</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_PetroleumDist.htm"
	id=a10
	target=_self>Petroleum Distribution</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_Plumbing.htm"
	id=a11
	target=_self>Plumbing</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M2_H_NoSelection.htm"
	target=_self>No selection</a></p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p>

</body>

</html>
