<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M4_H_MachineShop</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Machine Shop</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 types of machines do you use? (welder, CNC, mills, grinders, lathes, others)</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 % of time is spent operating CNC vs. manual machines?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you operate forklifts?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you do any assembly?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you do any design work or drafting?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you do any delivery?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 type of safety precautions do you have? (chemical washes, aprons, gloves, 
 eyewear, etc.)</p></li>
</ul>

<p><a href="M4_H_JobTitlesDuties.htm"
		target=_self><img src="../back.GIF"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 45px;
									height: 23px;
									float: none;
									border-style: none;
									border-style: none;"
							width=45
							height=23
							border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;<a 
 href="../XX_Close_Page.htm"><!--kadov_tag{{</spaces>}}--><img src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
