<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M4_H_Excavation</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Excavation Contractor</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 tools or equipment do you use? <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(Bobcat, 
 trencher, backhoe, bulldozer) (Hand or power tools?)</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you work year round at this business or is it seasonal?</p></li>
	
	<ul style="list-style: circle;"
		type=circle>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 seasonal, what months do you work for the business?</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 seasonal, what type of work do you do in the off-season?</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 year round, what type of work do you do in the off-season and how many 
 hours?</p></li>
	</ul>
</ul>

<p><a href="M4_H_JobTitlesDuties.htm"
		target=_self><img src="../back.GIF"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 45px;
									height: 23px;
									float: none;
									border-style: none;
									border-style: none;"
							width=45
							height=23
							border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;<a 
 href="../XX_Close_Page.htm"><!--kadov_tag{{</spaces>}}--><img src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
