<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M4_H_JobTitlesDuties</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=978>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Job Title and list of Duties</h1>

<p>Owner, President/CEO, Vice President, CFO, Controller, Comptroller, 
 General Manager, Assistant Manager, Office Manager, Supervisor, Technician, 
 Over the road river, Master Plumber, Electrician, Contractor, other.</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">For all positions: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(IMPORTANT)</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 is your job title?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">How 
 many hours do you work per week?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 % of time is spent in an office atmosphere? (If not 100%, breakdown % 
 of time in other duties.)</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Do 
 you operate equipment or machinery? <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 yes, what type, % of time spent operating?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 is the maximum weight you lift with no assistance?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">How 
 many people do you supervise?</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Occupational Questionnaire:</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Should be completed only 
 if requested by underwriting. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Following 
 options from which to select:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_AutoBodyWork.htm"
	target=_self>Auto Body Work</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_AutoRepair.htm"
	target=_self>Auto Repair</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Dealership.htm"
	target=_self>Auto Dealership</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Concrete.htm"
	target=_self>Concrete Contractor</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Construction.htm"
	target=_self>Construction</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Consultant.htm"
	target=_self>Consultant</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_ConvenienceStore.htm"
	target=_self>Convenience Store</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Electrician.htm"
	target=_self>Electrician</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Excavation.htm"
	target=_self>Excavation Contractor</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_FarmEquipment.htm"
	target=_self>Farm Equipment</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Farming.htm"
	target=_self>Farming</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_FirefighterEMT.htm"
	target=_self>Firefighter/EMT</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_FuneralDirector.htm"
	target=_self>Funeral Director</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_OwnerPresManager.htm"
	target=_self>Owner/Pres/Manager</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_HeatingAC.htm"
	target=_self>Heating and A/C</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_JewelryStore.htm"
	target=_self>Jewelry Store</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_MachineShop.htm"
	target=_self>Machine Shop</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_PetroleumDist.htm"
	target=_self>Petroleum Distributor</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Plumbing.htm"
	target=_self>Plumbing</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_PoliceOfficer.htm"
	target=_self>Police Officer</a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;"><a 
 href="M4_H_Professional.htm"
	target=_self>Professional</a></p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
