<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>M9_H_MarketValue</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Market Value</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">The 
 Underwriters are looking for &quot;Market Value&quot;. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(Note 
 if &quot;Market Value&quot; or &quot;Book Value&quot;) <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Market 
 Value: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 someone approached you to purchase the business what would you ask them 
 to pay?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Enter 
 information for all businesses in which you have ownership.</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

<p>&nbsp;</p>

</body>

</html>
