<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>N1C_H_Climbing</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Climbing</h1>

<p>Includes any sport that involves action and adrenaline, combining speed, 
 height, danger, and/or stunts with varying levels of danger. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Complete 
 Extreme Sports Questionnaire.</p>

<p><a href="../XX_Close_Page.htm"><img src="../close.bmp"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 51px;
												height: 23px;
												float: none;"
										width=51
										height=23
										border=0></a></p>

</body>

</html>
