<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>P2B_H_Anxiety</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Anxiety</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 they see a psychologist or psychiatrist:</p></li>
	
	<ul style="list-style: circle;"
		type=circle>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 is the reason?</p></li>
		
		<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Are 
 you on any medications? <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Sample 
 list of meds:</p></li>
	</ul>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Celexa</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Dsyrel</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Effexor</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Klonopin</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Lexapro</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Paxil</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Prozac</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Remeron</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Sarafem</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Serzone</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Welbutrin</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Zoloft</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Comp</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Complete a Psych Memo</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">&nbsp;</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
