<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>P2I_H_Arthritis</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Arthritis</h1>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Arthritis Questionnaire:</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Complete if &quot;Yes&quot; 
 to arthritis.</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Complete Back/Neck Questionnaire 
 IF:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Positive 
 response to back discomfort.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 regular (routine) adjustments for maintenance. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(Added 
 AEM 9/20)</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
