<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>P3_H_FamilyHistory</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Family History</h1>

<p style="margin-top: 5pt; margin-bottom: 5pt;">For positive response</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Relationship 
 of family member?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 was the condition?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">We 
 are looking for biologically related family members.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 was the age of onset?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Note: 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Maternal 
 or Paternal?</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">If Cancer:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 type?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Where 
 did it start?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 were the results?</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">If Diabetes:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">When 
 was the onset?</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 type of medication is being taken?</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">If high blood pressure:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">What 
 type of medications are used?</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
