/* CHANGE LOG */
/* Audit Number   Version   Change Description
   NBA122            5      Underwriter Workbench Rewrite
   SPR3055           6      Decoupling of Version 5 JSF views from Accelerator Framework
   SPR2836           6      General Code Clean Up for JSF Views Added in Version 5
   SPR3090           6      Table paging support should be generalized for use by any table panes
   NBA152            6      Comments Rewrite
   SPR3068           6      Upgraded status bar does not provide additional details on routing reason
   NBA136            6      In Tray and Search Rewrite
   NBA151			 6		UL And VUL Application Entry Rewrite
   SPR3232           6      Final Disposition view is showing horizontal scroll bars
   NBA213            7      Updated Scrollbar Styles (on body) and added newBusinessFile style in prep for common page height
   SPR2890			 8		Reinsurance Tab - Uncommitted reinsurance type is not displayed in italics but always displayed in regular text
   NBA305         NB-1301   Standardized CSC Product UI Colors
   SPRNBA-929     NB-1501   Requirements Appended to the Underwriting Requirement Received Status - Causing a Display Issue
*/

body {
	overflow: auto;
	margin: 0px 0px 0px 0px;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-highlight-color: #CCCCCC;
	scrollbar-3dlight-color: #777777;
	scrollbar-darkshadow-color: #777777;
	scrollbar-track-color: #D9D9D9;
	scrollbar-arrow-color: #000000;
}

form {
	overflow: auto;
	margin: 0px 0px 0px 0px;
}

div {
	background-color: #ffffff;
	overflow: scroll;
}

a {
	font-weight: normal;
	text-decoration: none;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}


/*----------------------------------------------
 * Navigation Area - Title Bar
 *----------------------------------------------*/
.titleBar {
	font-family: Helvetica;
	font-size: 24px;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	height: 33px;
	width: 100%;
	color: #FFFFFF;
	background-color: #162139;  /* NBA305 */
}

/*----------------------------------------------
 * Navigation Area - Menu Bar
 *----------------------------------------------*/
.menuBar {
	font-family: Verdana;
	font-size: 11px;
	height: 19px;
	width: 100%;
	color: #FFFFFF;
	background-color: #1E2D4C;  /* NBA305 */
}

.menuEntry {
	color: #FFFFFF;
	padding-top: 2px;
}

/*----------------------------------------------
 * Navigation Area - Work Item Status Bar
 *----------------------------------------------*/
.workStatusBar {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
	height: 16px;  /* SPRNBA-929 */
	width: 200%;        /* SPR3068 SPRNBA-929 */ 
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	overflow: hidden; /* SPRNBA-929 */
}

/*----------------------------------------------
 * Navigation Area - Contract Information Bar
 *----------------------------------------------*/
.contractBar {
	font-family: Verdana;
	font-size: 14px;
	height: 31px;
	width: 100%;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
}

.contractBarIcon {
	position: relative;
	left: 10px;
	top: 3px;
}

.contractBarInsured {
	font-weight: bold;
	text-transform: capitalize;
}

.contractBarNumber {
	font-weight: normal;
}

.contractBarStatus {
	font-weight: normal;
	font-style: italic;
}

.contractBarCompany {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	max-height: 31px;
	background-color: #9EADCC;  /* NBA305 */
}

/*----------------------------------------------
 * Tab Page Header
 *----------------------------------------------*/
.pageHeader {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 27px;
	width: 100%;
	color: #000000;
	background-color: #FFFFFF;
}

.phText {
	padding-top: 5px;
	color: #000000;
}


/*----------------------------------------------
 * Section Header
 *----------------------------------------------*/
.sectionHeader {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 32px;
	width: 100%;
	color: #FFFFFF;
	background-color: #3B5998;  /* NBA305 */
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 5px;
}

.sectionSubheader {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	width: 100%;
	color: #FFFFFF;
	background-color: #2C4272;  /* NBA305 */
	text-align: left;
	text-indent: 10px;
	padding-top: 4px;
}

.shMenu {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #3B5998;  /* NBA305 */
}

.shTextLarge {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.shText {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding-top: 5px;
}

/* begin SPR2890 */
.shTextDraft {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 5px;
}
/* end SPR2890 */

/*----------------------------------------------
 * Comment Bar
 *----------------------------------------------*/
.commentBar {
	color: #000000;
	background-color: #96A1B9;  /* NBA305 */
	height: 21px;
	width: 100%;
	font-family: Verdana;
	font-size: 11px;
	text-transform: uppercase;
	vertical-align: middle;
}

/* begin SPR3090 */
.commentPaging {
	font-weight: normal;
	text-indent: 5px;
	height: 19px;
	padding-top: 2px;
}

.commentPagingBold {
	font-weight: bold;
	text-indent: 5px;
	height: 19px;
	padding-top: 2px;
}
/* end SPR3090 */

.commentIcon {
	margin-top: 2px;
}

.commentBarLabel {
	position: absolute;
	right: 15px;
	padding-top: 3px;
	text-align: right;
}

/* begin NBA152 */
.commentBarLabelButton {
	position: absolute;
	right: 15px;
	height: 17px;
	text-align: right;
	background-color: #96A1B9;  /* NBA305 */
	border: none;
	margin-top: 2px;
}
/* end NBA152 */


/*----------------------------------------------
 * Overview Button Bar
 *----------------------------------------------*/
.ovButtonBar {
	height: 33px;
	width: 100%;
	background-color: #CED6E5;  /* NBA305 */
}

.ovButtonLeft {
	position: absolute;
	left: 4px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.ovButtonLeft-1 {
	position: absolute;
	left: 98px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.ovButtonRight-3 {
	position: absolute;
	left: 256px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.ovButtonRight-2 {
	position: absolute;
	left: 350px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.ovButtonRight-1 {
	position: absolute;
	left: 444px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.ovButtonRight {
	position: absolute;
	left: 538px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.finalDispButtonLeft {
	position: absolute;
	left: 15px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.finalDispButtonRight-1 {
	position: absolute;
	left: 430px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.finalDispButtonRight {
	position: absolute;
	left: 525px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}


/*----------------------------------------------
 * Tab Level Buttons
 *----------------------------------------------*/
.tabButtonBar {
	height: 37px;
	width: 100%;
	background-color: #FFFFFF;
}

.tabButtonLeft {
	position: absolute;
	left: 4px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonLeft-1 {
	position: absolute;
	left: 98px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight-2 {
	position: absolute;
	left: 344px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight-1 {
	position: absolute;
	left: 438px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight {
	position: absolute;
	left: 532px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}


/*----------------------------------------------
 * Input Form
 *----------------------------------------------*/
.inputFormMat {
	background-color: #CED6E5;  /* NBA305 */
	overflow: hidden;
	width: 100%;
}

.inputForm {
	background-color: #FFFFFF;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 12px;
	height: 416px;
	border-left-width: 1px;
	border-left-color: #000000;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;          /*SPR3055*/
	border-bottom-color: #000000;      /*SPR3055*/
	border-bottom-style: solid;        /*SPR3055*/
	overflow: visible;
}

/* SPR2836 deleted .inputFormDisp & .finalDispContract */

.formTitleBar {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	background-color: #3B5998;  /* NBA305 */
	color: #FFFFFF;
	padding-left: 6px;
	padding-top: 3px;
	height: 24px;
	width: 100%;
}

.formSectionBar {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	height: 24px;
	width: 100%;
	color: #FFFFFF;
	background-color: #2C4272;  /* NBA305 */
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
	padding-left: 6px;
	padding-top: 3px;
}

.formInputSection {
	background-color: #CED6E5;  /* NBA305 */
	border-color: #595959;
	border-size: 1px;
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}

.formDataEntryTopLine {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 31px;
	width: 100%;
	padding-top: 16px;
}

.formDataEntryLine {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 31px;
	width: 100%;
	padding-top: 6px;
}

/* BEGIN NBA151 */
.formDataEntryLineAppEntry {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 31px;
	padding-top: 6px;
}
/* END NBA151 */

.formDataEntryLineBottom {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 41px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 10px;
}

.formDataDisplayTopLine {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 19px;
	width: 100%;
	padding-top: 16px;
}

.formDataDisplayLine {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	height: 19px;
	width: 100%;
	padding-top: 6px;
}

.formLabel {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	width: 125px;
	padding-right: 12px;
}

/* SPR2836 deleted style */

.formLabelRight {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	margin-left: 5px;
}

.formLabelTable {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	vertical-align: text-top;
	width: 125px;
}

.formDisplayDate {
	font-family: Verdana;  /* SPR2836 */
	font-size: 11px;       /* SPR2836 */
	font-weight: bold;
	position: relative;
	width: 75px;
}

.formDisplayText {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

/* SPR2836 deleted style */

.formDisplayTextFull {
	position: relative;
	margin-right: 7px;
	max-width: 480px;
	font-weight: bold;
	overflow: scroll;
}

/* begin NBA169 */
.formDisplayTextMultiLine {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	border: 0px;
	border-style: none;
	cursor: default;
	text-decoration:none;
	background-color: transparent;
	overflow: visible;
	vertical-align: text-top;
	margin-top: -2px;
}
/* end NBA169 */

.formEntryCheckbox {
}

.formEntryDate {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	width: 100px;
}

.formEntryText {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.formEntryTextHalf {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	width: 177px;
}

.formEntryTextFull {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	width: 480px;
}

.formEntryTextMultiLineFull {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	width: 480px;
	overflow: auto;
}

.formBarSeparator {
	border-right-color: #ACACAC;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 20px;
}

.formSeparator {
	color: #ACACAC;
	height: 2px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 4px;
}

/* begin SPR3232 */
/*----------------------------------------------
 * nbA Input Form Split View  (Width in Half)
 *----------------------------------------------*/
.formSplit {
	table-layout: fixed;
	margin-top: 10px;
}

.formSplitLeft {
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 50%;
	vertical-align: top;
}

.formSplitLeftBorder {
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 50%;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}

.formSplitRight {
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 50%;
	vertical-align: top;
}
/* end SPR3232 */

/*----------------------------------------------
 * nbA Input Form Table Pane  (Full Form Width)
 *----------------------------------------------*/

.formDivTableHeader {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 16px;
	width: 595px;
	color: #000000;
	background-color: #EAF4FD;  /* NBA305 */
}

.formDivTableData3 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 60px;
	width: 595px;
	overflow: auto;
	vertical-align: top;
}

.formDivTableData6 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 115px;
	width: 595px;
	overflow: auto;
	vertical-align: top;
}

.formDivTableData12 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 230px;
	width: 595px;
	overflow: auto;
	vertical-align: top;
}

.formTableHeader {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	height: 16px;
	width: 575px;
	color:#000000;
	background-color:#EAF4FD;  /* NBA305 */
	table-layout: fixed;
}

.formTableData {
	font-family: Verdana;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 3px;
	background-color: #ffffff;
	width: 575px;
	table-layout: fixed;
	vertical-align: text-top;
}


/*----------------------------------------------
 * nbA Input Form Table Pane  (Right side buttons)
 *----------------------------------------------*/

.formDivTableHeaderRightButtons {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 16px;
	width: 521px;
	color: #000000;
	background-color: #EAF4FD;  /* NBA305 */
}

.formDivTableDataRightButtons3 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 60px;
	width: 521px;
	overflow: auto;
	vertical-align: top;
}

.formDivTableDataRightButtons5 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 95px;
	width: 521px;
	overflow: auto;
	vertical-align: top;
}

.formTableHeaderRightButtons {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	height: 16px;
	width: 502px;
	color:#000000;
	background-color:#EAF4FD;  /* NBA305 */
	table-layout: fixed;
}

.formTableDataRightButtons {
	font-family: Verdana;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 3px;
	background-color: #ffffff;
	width: 502px;
	table-layout: fixed;
	vertical-align: text-top;
}


/*----------------------------------------------
 * nbA Input Form Button Bar
 *----------------------------------------------*/

.formButtonBar {
	height: 35px;
	width: 100%;
}

/* NBA136 added */
.formButton {
	height: 21px;
	width: 87px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonLeft {
	position: absolute;
	left: 15px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonLeft-1 {
	position: absolute;
	left: 109px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonRight-3 {
	position: absolute;
	left: 245px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonRight-2 {
	position: absolute;
	left: 339px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonRight-1 {
	position: absolute;
	left: 433px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonRight {
	position: absolute;
	left: 527px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formButtonInterface {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	width: 65px;
	height: 26px;
	background-color: #EAF4FD;  /* NBA305 */
	color: #000000;
}

.formColumnLabel {
	width: 116px;
}

.formColumnData {
	width: 500px;
}

.newBusinessFile {
	height: 650;
	overflow: auto;
}

.whiteBody {
	margin: 4px;
	background-color: #ffffff
}
