/* CHANGE LOG */
/* Audit Number   Version   Change Description
   NBA130            6      Requirements and Reinsurance Project
   SPR3295           7      Application Entry Reusability
   NBA305         NB-1301   Standardized CSC Product UI Colors
   SPRNBA-606     NB-1301   Final Disposition Decision Popup Does Not Follow UI Standards
*/

body
{
	background-color: #CED6E5;  /* NBA305 */
    color: #000000;
}

a {
	font-weight: normal;
	text-decoration: none;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}


.summaryHeader {
	color:#000000;
	font: Verdana;
	font-size: 14px;
	height: 50px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 15px;
}

.summaryInsured {
	font-weight: bold;
	position: relative;
	left: 15px;
	top: 3px;
	text-transform: capitalize;
}

.summaryContractNumber {
	font-weight: normal;
	position: relative;
	left: 30px;
	top: 3px;
}

.displayLine {
	height: 19px;
	width: 100%;
}

.promptLine {
	vertical-align: text-bottom;
	height: 19px;
	width: 100%;
}

.entryLine {
	height: 19px;
	width: 100%;
}

.entryLinePadded {
	height: 19px;
	width: 100%;
	padding-bottom: 5px;
}

.entryLinePaddedNoLabel {
	height: 19px;
	width: 100%;
	padding-bottom: 5px;  /* SPR3295 */
	padding-left: 122px;
}

.displayLabel {
	text-align: right;
	width: 122px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-right: 12px;
}

.displayLabelTop {
	text-align: right;
	width: 122px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-right: 12px;
	padding-top: 3px;
	vertical-align: text-top;
}

.entryLabel {
	text-align: right;
	width: 122px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding-right: 12px;
}

.entryLabelTop {
	text-align: right;
	width: 122px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding-right: 12px;
	padding-top: 3px;
	vertical-align: top;
}

.entryLabelRightOfDate {
	text-align: right;
	width: 115px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding-right: 12px;
}

.promptLabel_FirstName {
	position: absolute;
	left: 123px;
	top: inherit;
	margin-top: 7px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.promptLabel_MiddleInit {
	position: absolute;
	left: 313px;
	top: inherit;
	margin-top: 7px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.promptLabel_LastName {
	position: absolute;
	left: 338px;
	top: inherit;
	margin-top: 7px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.entryFieldLong {
	width: 400px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldShort {
	width: 144px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldShortRadioPage {
	width: 144px;
	margin-top: 3px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldShortNext {
	width: 144px;
	margin-left: 10px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldName {
	width: 185px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldNameNext {
	width: 185px;
	margin-left: 5px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldDate {
	width: 100px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldSingleChar {
	width: 20px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.entryFieldSingleCharNext {
	width: 20px;
	margin-left: 5px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
/*-BEGIN NBA130-*/
.entryFieldPhoneAreaCode {
	width: 40px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-right: 12px;
}

.entryFieldPhoneDialNumber {
	width: 100px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
/*-END NBA130-*/

.radioMenu {
    font-family: Verdana;
    font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.tableLinePadded {
	table-layout: fixed;
	padding-bottom: 5px;
}

.tableColumnLabel {
	padding-top: 3px;
	vertical-align: text-top;
	width: 122px;
}
.tableColumn80 {
	width: 80px;
}

.tableColumn100 {
	width: 100px;
}

.tableColumn150 {
	vertical-align: top;
	width: 150px;
}

.tableColumn195 {
	vertical-align: top;
	width: 195px;
}

.tableColumn325 {
	width: 325px;
}

/*----------------------------------------------
 * nbA Popup Table Pane  (Full Form Width)
 *----------------------------------------------*/

.popupDivTableHeader {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 16px;
	width: 524px;
	color: #000000;
	background-color: #EAF4FD;    /* NBA305 */
}

.popupDivTableData6 {
	background-color: #FFFFFF;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	height: 115px;
	width: 524px;
	overflow: auto;
	vertical-align: top;
}

.popupTableHeader {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	height: 16px;
	width: 505px;
	color:#000000;
	background-color:#EAF4FD;  /* NBA305 */
	table-layout: fixed;
}

.popupTableData {
	font-family: Verdana;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 3px;
	background-color: #ffffff;
	width: 505px;
	table-layout: fixed;
	vertical-align: text-top;
}


/*----------------------------------------------
 * nbA Popup Button Bar
 *----------------------------------------------*/

.buttonBar {
	padding-top: 10px;
	width: 100%;
}

.buttonLeft {
	position: absolute;
	left: 15px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.buttonLeft-1 {
	position: absolute;
	left: 109px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.buttonRight-1 {
	position: absolute;
	right: 114px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.buttonRight {
	position: absolute;
	right: 20px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 4px;
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
}
/* SPRNBA-606 */
.popupColHdrText {
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}
/* SPRNBA-606 */
.popupColText {
	padding-left: 2px;
	color: #000000;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}