/* CHANGE LOG */
/* Audit Number   Version   Change Description
   NBA122            5      Underwriter Workbench Rewrite
   NBA134            6      Assignment and Reassignment of an Underwriter Queue Project
   SPR3075           6      Uncommitted comments are not displayed in draft mode (italics) in the Message field  of the Underwriter work bench Comments tab 
   SPR3090           6      Table paging support should be generalized for use by any table panes
   NBA166			 6    	Contract Messages Rewrite 	
   NBA154			 6    	Requirements Business Function Rewrite 	
   NBA136            6      In Tray and Search Rewrite
   NBA163            6      Case History Rewrite	
   NBA151			 6		UL And VUL Application Entry Rewrite
   NBA164			 6    	nbA Contract Status View Rewrite Project	
   NBA165			 6		nbA Contract Approve Decline View Rewrite Project 	 	
   NBA153            6      Companion Case Rewrite
   NBA177            7      Change Scan Type Rewrite
   NBA213			 7		Unified User Interface
   NBA182			 7		Cashiering Workbench Rewrite.
   SPR2872			 8		Reinsurance Tab - UI Issues with Record Reinsurer's Response view 	
   FNB004		  NB-1101   PHI 
   NBA223		  NB-1101   Underwriter Final Disposition Project	
   NBA-406        NB-1101   Reinsurance Risk Basis being set incorrectly when coverage is selected for Facultative Reinsurance
   SPRNBA-436     NB-1101   Page scrolling with screen resolution other than 1280 x 1024
   NBA305         NB-1301   Standardized CSC Product UI Colors
   NBA245 		  NB-1301   Coverage Party ReWrite
   NBA324         NB-1301   nbAFull Personal History Interview
   NBA303         NB-1401   Billing User Interface Rewrite
   NBA337         NB-1401   Email Enhancement & support email attachment
   NBA366		  NB-1501	nbA Requirement Order Statuses from Third Party Providers
*/

/*----------------------------------------------
 * nbA Underwriter Workbench Overview Style
 *----------------------------------------------*/
.ovDivTableHeader {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 16px;
	width: 628px;
	color: #000000;
	background-color: #EAF4FD;  /* NBA305 */
}

.ovDivTableData {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 230px;
	width: 628px;
	overflow: auto;
}

.ovDivTableData2 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 39px;
	width: 628px;
	overflow: auto;
	vertical-align: top;
}

.ovDivTableData3 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 60px;
	width: 628px;
	overflow: auto;
	vertical-align: top;
}

.ovDivTableData6 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 115px;
	width: 628px;
	overflow: auto;
	vertical-align: top;
}

.ovDivTableData9 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 171px;
	width: 628px;
	overflow: auto;
	vertical-align: top;
}

.ovDivTableData12 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 230px;
	width: 628px;
	overflow: auto;
}
/* begin SPRNBA-436 */
.ovDivTableData15 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 230px;
	width: 628px;	
	overflow-y: auto;
}
/* end SPRNBA-436 */

.ovDivTableData18 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 345px;
	width: 628px;
	overflow: auto;
}

/* begin FNB004 */
.ovitalictrue {
	width: 20px;
	background-color: #666699;
}
/*  end FNB004 */

/* begin NBA154 */
/* NBA213 reduce to 25 lines*/
.ovDivTableData25 {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 480px;
	width: 628px;
	overflow: auto;
}
/*  end NBA154 */
.ovTableHeader {
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	height: 16px;
	width: 609px;
	color: #000000;
	background-color: #EAF4FD;  /* NBA305 */
	table-layout: fixed;
}

.ovTableData {
	font-family: Verdana;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 3px;
	background-color: #ffffff;
	width: 609px;
	table-layout: fixed;
}

.ovFullCellSelect {
	width: 200%;
	cursor: default;
	color: #000000;
	padding-top: 2px;
}

/* begin NBA177 */
.ovFullCellSelectCommitFailed {
	width: 200%;
	cursor: default;
	color: #FF0000;
	padding-top: 2px;
	font-weight: bold;
}
/* end NBA177 */

.ovFullCellSelectCheckBox {
	width: 100%;
	cursor: default;
	color: #000000;
	overflow: hidden;
	margin-top: -2px;
}

.ovEvenRow {
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	min-height: 19px;
	vertical-align: top;
}

.ovOddRow {
	font-style: normal;
	color: #000000;
	background-color: #EBEBEB;
	min-height: 19px;
	vertical-align: top;
}

.ovEvenRowDraft {
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	min-height: 19px;
	vertical-align: top;
}

.ovEvenRowSelected {
	font-style: normal;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
}

/* begin NBA153 */
.ovEvenRowDelete {
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	min-height: 19px;
	vertical-align: top;
	text-decoration: line-through;
}

.ovEvenRowDeleteSelected {
	font-style: italic;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
	text-decoration: line-through;
}

/* end NBA153 */
.ovEvenRowDraftSelected {
	font-style: italic;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
}

.ovOddRowDraft {
	font-style: italic;
	color: #000000;
	background-color: #EBEBEB;
	min-height: 19px;
	vertical-align: top;
}

.ovOddRowSelected {
	font-style: normal;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
}

/* begin NBA153 */
.ovOddRowDelete {
	font-style: italic;
	color: #000000;
	background-color: #EBEBEB;
	min-height: 19px;
	vertical-align: top;
	text-decoration: line-through;
}

.ovOddRowDeleteSelected {
	font-style: italic;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
	text-decoration: line-through;
}

/* end NBA153 */
.ovOddRowDraftSelected {
	font-style: italic;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
}

.ovDarkGreyRow {
	font-style: normal;
	color: #000000;
	background-color: #CCCCCC;
	min-height: 19px;
	vertical-align: top;
}

.ovRow {
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 19px;
}

.ovRowSelected {
	font-style: normal;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	height: 19px;
}

.ovRowDraft {
	font-style: italic;
	color: #4D4D4D;
	height: 19px;
}

.ovRowDraftSelected {
	font-style: italic;
	color: #4D4D4D;
	background-color: #9EADCC;  /* NBA305 */
	height: 19px;
}

.ovRowDelete {
	font-style: italic;
	text-decoration: line-through;
	color: #4D4D4D;
	height: 19px;
}

.ovRowDeleteSelected {
	font-style: italic;
	text-decoration: line-through;
	color: #4D4D4D;
	background-color: #9EADCC;  /* NBA305 */
	height: 19px;
}

.ovRowHier1 {
	font-style: normal;
	color: #000000;
	background-color: #EBEBEB;
	height: 19px;
}

.ovRowHier1Draft {
	font-style: italic;
	color: #000000;
	background-color: #EBEBEB;
	height: 19px;
}

.ovRowHier1Delete {
	font-style: italic;
	text-decoration: line-through;
	color: #000000;
	background-color: #EBEBEB;
	height: 19px;
}

.ovRowHier2 {
	font-style: normal;
	color: #000000;
	background-color: #E0E0E0;
	height: 19px;
}

.ovRowHier2Draft {
	font-style: italic;
	color: #000000;
	background-color: #E0E0E0;
	height: 19px;
}

.ovRowHier2Delete {
	font-style: italic;
	text-decoration: line-through;
	color: #000000;
	background-color: #E0E0E0;
	height: 19px;
}

.ovRowHier3 {
	font-style: normal;
	color: #000000;
	background-color: #D6D6D6;
	height: 19px;
}

.ovRowHier3Draft {
	font-style: italic;
	color: #000000;
	background-color: #D6D6D6;
	height: 19px;
}

.ovRowHier3Delete {
	font-style: italic;
	text-decoration: line-through;
	color: #000000;
	background-color: #D6D6D6;
	height: 19px;
}
/* begin NBA245 */
.ovRowHier4 {
	font-style: normal;
	color: #000000;
	background-color: #CACACA;
	height: 19px;
}

.ovRowHier4Draft {
	font-style: italic;
	color: #000000;
	background-color: #CACACA;
	height: 19px;
}

.ovRowHier4Delete {
	font-style: italic;
	text-decoration: line-through;
	color: #000000;
	background-color: #CACACA;
	height: 19px;
}
/* end NBA245 */
.ovColSortedTrue {
	width: 100%;
	padding-left: 6px;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	font-weight: bold;
}

.ovColSortedFalse {
	width: 100%;
	padding-left: 6px;
	color: #000000;
	background-color: #EAF4FD;  /* NBA305 */
	font-weight: normal;
}

.ovColHdrAmt {
	padding-right: 2px;
	width: 70px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColAmt {
	text-align: right;
	width: 70px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/* NBA243 begin */
.ovColHdrAmt100 {
	padding-right: 2px;
	width: 100px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColAmt100 {
	text-align: right;
	width: 100px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/* NBA243 end */

/* NBA123 begin */
.ovColHdrNum {
	padding-right: 2px;
	width: 40px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColNum {
	text-align: right;
	width: 40px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* NBA123 end */
.ovColHdrDate {
	width: 80px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColDate {
	padding-left: 2px;
	padding-bottom: 10px;
	width: 80px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.ovColHdrIcon {
	width: 20px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

/* begin FNB004 */
.ovColHdrIconBig {
	width: 30px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText30 {
	padding-left: 2px;
	width: 30px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* end FNB004 */
.ovColIcon {
	text-align: center;
	vertical-align: middle;
	width: 20px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* begin NBA166 */
.ovColIconTop {
	text-align: center;
	vertical-align: top;
	width: 20px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* end NBA166 */
.ovColHdrText50 {
	width: 50px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText50 {
	padding-left: 2px;
	width: 50px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText60 {
	width: 60px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText60 {
	padding-left: 2px;
	width: 60px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText65 {
	width: 65px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText65 {
	padding-left: 2px;
	width: 65px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText70 {
	width: 70px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText70 {
	padding-left: 2px;
	width: 70px;
	color: #000000;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText75 {
	width: 75px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText75 {
	padding-left: 2px;
	width: 75px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText85 {
	width: 85px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText85 {
	padding-left: 2px;
	width: 85px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText100 {
	width: 100px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText100 {
	padding-left: 2px;
	width: 100px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText105 {
	width: 105px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText105 {
	padding-left: 2px;
	width: 105px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText120 {
	width: 120px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText120 {
	padding-left: 2px;
	width: 120px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText125 {
	width: 125px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText125 {
	padding-left: 2px;
	width: 125px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* begin SPR2872 */
.ovColTextNoUnderLine125 {
	padding-left: 2px;
	width: 125px;
}
/*end SPR2872 */

.ovColText140 {
	padding-left: 2px;
	width: 140px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText140 {
	width: 140px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText150 {
	padding-left: 2px;
	width: 150px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText150 {
	width: 150px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColHdrText155 {
	width: 155px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText155 {
	padding-left: 2px;
	width: 155px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText165 {
	width: 165px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText165 {
	padding-left: 2px;
	width: 165px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText170 {
	width: 170px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText170 {
	padding-left: 2px;
	width: 170px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* begin NBA182 */
.ovColHdrText185 {
	width: 185px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText185 {
	padding-left: 2px;
	width: 185px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}
/* end NBA182 */

.ovColHdrText190 {
	width: 190px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText190 {
	padding-left: 2px;
	width: 190px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText210 {
	width: 210px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText200 {
	padding-left: 2px;
	width: 200px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}
/* begin NBA173 */
.ovColText210 {
	padding-left: 2px;
	width: 210px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText410 {
	width: 410px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText410 {
	padding-left: 2px;
	width: 410px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}
/* end NBA173 */

/* begin NBA123 */
.ovAutoProcessTableData {
	font-weight: normal;
	font-family: Verdana;
	font-style: normal;
	font-size: 11px;
	border: 0px;
	border-style: none;
	text-decoration: none;
	background-color: transparent;
	overflow: visible;
	width: 250px;
}

.ovColHdrText195 {
	width: 195px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText195ML {
	padding-left: 2px;
	width: 195px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: visible;
	white-space: nowrap;
}

/* end NBA123 */
/* NBA213 */
.ovColTextTop {
	padding-left: 2px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: none;
	overflow: hidden;
	vertical-align: text-top;
}

.ovColHdrText225 {
	width: 225px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText225 {
	padding-left: 2px;
	width: 225px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText250 {
	width: 250px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText250 {
	padding-left: 2px;
	width: 250px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText270 {
	width: 270px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText270 {
	padding-left: 2px;
	width: 270px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText295 {
	width: 295px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText295 {
	padding-left: 2px;
	width: 295px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* begin NBA337 */

.ovColHdrText275 {
	width: 275px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText275ML {
	padding-left: 2px;
	width: 275px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: visible;
	white-space: nowrap;
}

/* end NBA337 */
.ovColText295ML {
	padding-left: 2px;
	width: 295px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: visible;
	white-space: nowrap;
}

.ovColHdrText300 {
	width: 300px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText300 {
	padding-left: 2px;
	width: 300px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColText350 {
	padding-left: 2px;
	width: 350px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText350 {
	width: 350px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColHdrText375 {
	width: 375px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText375 {
	padding-left: 2px;
	width: 375px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* begin NBA163 */
.ovColHdrText455 {
	width: 455px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText455 {
	padding-left: 2px;
	width: 455px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}
/* begin NBA182 */
.ovColText485 {
	padding-left: 2px;
	width: 485px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText485 {
	width: 485px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}
/* end NBA182 */
/* end NBA163 */
.ovColHdrText495 {
	width: 495px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText495 {
	padding-left: 2px;
	width: 495px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText545 {
	width: 545px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText545 {
	padding-left: 2px;
	width: 545px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrText615 {
	width: 615px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText615 {
	padding-left: 2px;
	width: 615px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

/* begin NBA182 */
.ovColHdrText630 {
	width: 630px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColText630 {
	padding-left: 2px;
	width: 630px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}
/* end NBA182 */
/* Begin NBA366*/
.ovColHdrTextStatusTrue {
	width: 70px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColTextStatusTrue {
	padding-left: 2px;
	width: 70px;
	color: #000000;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrTextStatusFalse {
	width: 85px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColTextStatusFalse {
	padding-left: 2px;
	width: 85px;
	color: #000000;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.ovColHdrIconStatusTrue {
	width: 40px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColIconStatusTrue {
	vertical-align: middle;
	width: 40px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.ovColHdrIconStatusFalse {
	width: 20px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
}

.ovColIconStatusFalse {
	text-align: center;
	vertical-align: middle;
	width: 20px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/* end NBA366 */
.ovViewIconTrue {
	cursor: default;
	visibility: visible;
}

.ovViewIconFalse {
	cursor: default;
	visibility: hidden;
}

.ovTextWithIcon {
	color: #000000;
}

.ovAppendIconToTextCell {
	vertical-align: bottom;
	margin-left: 4px;
	margin-bottom: 2px
}

.ovStatusBar {
	background-color: #666666;
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	height: 19px;
	width: 100%;
}

/* begin SPR3090 */
.ovStatusBarText {
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-indent: 10px;
	height: 19px;
	padding-top: 2px;
}

/* end SPR3090 */
.ovStatusBarTextBold {
	font-style: normal;
	font-weight: bold;
	color: #ffffff; /* SPR3090 */
	text-indent: 10px;
	height: 19px;
	padding-top: 2px;
}

.ovStatusBarDebit {
	font-style: normal;
	font-weight: normal;
	text-align: right;
	padding-top: 3px;
	position: absolute;
	top: auto;
	width: 75px;
	left: 120px;
}

.ovStatusBarCredit {
	font-style: normal;
	font-weight: normal;
	text-align: right;
	padding-top: 3px;
	position: absolute;
	top: auto;
	width: 75px;
	left: 195px;
}

/*----------------------------------------------
 * nbA Contract Summary
 *----------------------------------------------*/
.summaryHeader {
	color: #000000;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	height: 31px;
	width: 100%;
}

.summaryInsured {
	font-weight: bold;
	position: relative;
	margin-left: 15px;
	top: 8px;
	text-transform: capitalize;
}

.summaryContractNumber {
	font-weight: normal;
	position: relative;
	margin-left: 30px;
	top: 8px;
}

.summaryGrid {
	table-layout: fixed;
	margin-top: 10px;
}

.summaryLeft {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 57%;                   //NBA134
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}

.summaryLeftNoBorder {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 57%;                   //NBA134
	vertical-align: top;
}

.summaryRight {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 43%;                   //NBA134
	vertical-align: top;
}

.popupLabel {
	text-align: right;
	width: 132px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-right: 12px;
}

.agentDiv {
	height: 190px;
	width: 100%;
	overflow: auto;
	vertical-align: top;
}

.agentTable {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	table-layout: fixed;
	vertical-align: top;
}

.agentRow {
	padding-bottom: 19px;
}

.indicators {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	padding-top: 10px;
}

.indEnabledTrue {
	text-align: left;
	color: black;
}

.indEnabledFalse {
	text-align: left;
	color: gray;
}

/*----------------------------------------------
 * nbA Reflexive Questioning
 *----------------------------------------------*/
ef .accordian {
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
	font: 10pt "Verdana";
	font-weight: bold;
	font-stretch: expanded;
	vertical-align: top;
	font-weight: bold;
	background-color: #000077;
	color: white;
	text-align: left;
	height: 23px;
	text-decoration: none;
	font-variant: small-caps;
	width: 99%;
	border-style: outset;
	border-width: 2px;
	cursor: hand ! IMPORTANT;
}

.rqa {
	font: 8pt/ 10pt "Verdana";
	text-align: left;
	text-decoration: none;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-bottom: 1px;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
}

.evenRow {
	background-color: white
}

.oddRow {
	background-color: #b6c8cb
}

.button {
	font-size: 10pt;
	margin: 2px;
	width: 100px;
	vertical-align: middle;
	font-style: normal;
	font-family: sans-serif;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
}

.buttonTiny {
	font-size: 8pt;
	margin: 2px;
	width: 50 px;
	vertical-align: middle;
	font-style: normal;
	font-family: sans-serif;
	text-align: center;
	font-variant: normal;
	text-decoration: none
}

.buttonBig {
	font-size: 8pt;
	margin: 2px;
	width: 175px;
	vertical-align: middle;
	font-style: normal;
	font-family: sans-serif;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
}

.column {
	text-align: left;
	border-left: 0px;
	border-bottom: 0px;
	border-color: black;
	margin: 0px;
	padding: 0px;
}

.mainBody {
	text-align: left;
	text-decoration: none;
	margin: 0px 2px;
	background-color: #fefefe;
	font-family: "Verdana";
	font-size: 10pt;
	line-height: 12pt;
}

.header {
	font: 8pt "Verdana";
	text-align: left;
	font-weight: bold;
	background-color: #000099;
	color: white;
	height: 17px;
	cursor: hand;
	border: none;
}

.previousNext {
	font: 8pt "Verdana";
	font-weight: bold;
	text-decoration: none;
	color: #b90505;
	cursor: hand;
}

.row {
	text-align: left;
	height: 17px;
	font-size: 8pt;
	vertical-align: middle;
	color: black;
	text-align: left;
	text-decoration: none;
}

.rowEven {
	cursor: hand ! IMPORTANT;
	height: 17px;
	background-color: #f2f2f2;
	font-weight: normal;
	font: "Verdana";
	font-size: 8pt;
	vertical-align: middle;
	color: black;
	text-align: left;
	text-decoration: none;
}

.rowOdd {
	cursor: hand ! IMPORTANT;
	height: 17px;
	background-color: white;
	font-weight: normal;
	font: "Verdana";
	font-size: 8pt;
	vertical-align: middle;
	color: black;
	text-align: left;
	text-decoration: none;
}

.section {
	background-color: white
}

.section1 {
	background-color: #f2f2f2;
}

.textLabel {
	margin-top: 2pt;
	padding: 3px;
	vertical-align: top;
	color: #000000;
	text-align: right;
	text-decoration: none;
	font-family: "Verdana";
	font-size: 10pt
}

.textLabelQA {
	margin-top: 2pt;
	margin-bottom: 4pt;
	padding: 4px;
	vertical-align: center;
	color: #000000;
	text-align: left;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 10pt
}

.ovPriorInsCellStyle {
	vertical-align: top;
	overflow: auto;
}

.ovPriorInsPolicyRowStyle {
	vertical-align: top;
	overflow: auto;
	font-weight: bold;
}

.ovPriorInsAltAddPolicyStyle {
	vertical-align: top;
	overflow: auto;
	font-weight: bold;
	color: #0000B0;  /* NBA305 */
}

.ovPriorInsNoDataCellStyle {
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.ovPriorInsRowSelected {
	font-style: normal;
	color: #000000;
	background-color: #9EADCC;  /* NBA305 */
	min-height: 19px;
	vertical-align: top;
}

.ovFullCellSelectPrf {
	width: 100%;
	cursor: default;
	color: #000000;
}

.ovPrfLeg75 {
	width: 75px;
	font-style: normal;
	color: #000000;
	background-color: #BED8DE;
	min-height: 19px;
	vertical-align: top;
}

.ovPrfLeg275 {
	width: 275px;
	font-style: normal;
	color: #000000;
	background-color: #BED8DE;
	min-height: 19px;
	vertical-align: top;
}

/* begin SPR3075 */
.ovMultiLine {
	font-weight: normal;
	font-family: Verdana;
	font-style: normal;
	font-size: 11px;
	border: 0px;
	border-style: none;
	cursor: default;
	text-decoration: none;
	background-color: transparent;
	overflow: visible;
}

.ovMultiLineDraft {
	font-weight: normal;
	font-family: Verdana;
	font-style: italic;
	font-size: 11px;
	cursor: default;
	border: 0px;
	border-style: none;
	text-decoration: none;
	background-color: transparent;
	overflow: visible;
}
/* end SPR3075 */

/* begin NBA153 */
.ovMultiLineDelete {
	font-weight: normal;
	font-family: Verdana;
	font-style: italic;
	font-size: 11px;
	cursor: default;
	border: 0px;
	border-style: none;
	text-decoration: line-through;
	background-color: transparent;
	overflow: visible;
}

/* end NBA153 */
.colMIBCodes {
	width: 405px;
}

.colMoreCodes {
	width: 78px;
	vertical-align: bottom;
}

.colMIBShort {
	width: 67px;
}

.colMIBLong {
	width: 202px;
	height: 31px;
}

/* NBA136 added */
.colSearchLobs {
	width: 825px;
}

/* begin NBA151 */
.radioLabel {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.ovAppEntryButton {
	margin: 2px;
	height: 21px;
	width: 85px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	font-variant: normal;
	text-decoration: none;
}

.ovLevelOneIconTrue {
	cursor: default;
	visibility: visible;
	margin-left: 5px;
	margin-top: -6px;
}

.colOwnerInfo {
	width: 530px;
}

.labelAppEntry {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	vertical-align: text-top;
}

.tabButtonBar {
	height: 37px;
	width: 100%;
	background-color: #FFFFFF;
}

.tabButtonLeft {
	position: absolute;
	left: 4px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight-2 {
	position: absolute;
	left: 344px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight-1 {
	position: absolute;
	left: 438px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.tabButtonRight {
	position: absolute;
	left: 532px;
	height: 21px;
	width: 87px;
	top: inherit;
	margin-top: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.commentIcon {
	margin-top: 2px;
}

.commentBar {
	color: #000000;
	background-color: #96A1B9;  /* NBA305 */
	height: 21px;
	width: 100%;
	font-family: Verdana;
	font-size: 11px;
	text-transform: uppercase;
	vertical-align: middle;
}

.commentBarLabelButton {
	position: absolute;
	right: 15px;
	height: 17px;
	text-align: right;
	background-color: #96A1B9;  /* NBA305 */
	border: none;
	margin-top: 2px;
}

/* end NBA151 */

/* begin NBA164 */
.statusPanelGroup {
	height: 19px;
	width: 100%;
	padding-bottom: 10px;
}
/* end NBA164 */
/* begin NBA165*/
.contractApprDeclineDiv {
	height: 190px;
	width: 100%;
	overflow: auto;
	vertical-align: top;
}

.contrApprShort {
	width: 40px;
}

.contrApprLong {
	width: 229px;
}
/*end NBA165*/
/* begin NBA223 */
.formSplit22 {
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 22%;
	vertical-align: top;
}
.formSplit78 {
    font-family: Verdana;
    font-size: 11px;
	font-weight: normal;
	font-style: normal;
	width: 78%;
	vertical-align: top;
}
/* end NBA223 */
/*end NBA165*/
/*Begin FNB004*/
.ovDivPHIData {	
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	height: auto;
	width: 510px;
	overflow: hidden;
}

.ovDivPHIPagingData {
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
      background-color: #666666;
      font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	height: 25px;
	width: 510px;
	overflow: auto;
}

.ovDivPHIEntryData {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;	
	width: 125px;	
}

.phispacer{
   padding-bottom: 10px;
}

.colPHIData {
	width: 75px;
}
/*End FNB004*/

/* begin NBA-406 */
.overviewRequestsrow {
	text-align: left;
	height: 17px;
	font-size: 8pt;
	vertical-align: middle;
	color: black;
	text-align: left;
	text-decoration: none;
	overflow: auto;
}
/*end NBA-406*/

.ovDivPHIPagingText {
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-indent: 10px;
	height: 19px;
	padding-top: 2px;
	cursor: pointer;	
}
/* begin NBA324 */
.ovDivPHIPagingTextBold {
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	text-indent: 10px;
	height: 19px;
	padding-top: 2px;
	cursor: pointer;	
}
.phiLink {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	width: 125px;
	padding-right: 12px;
	width: 100px;
	padding-bottom:5px; 
	cursor: hand;
}
.phiLinkDisabled {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	width: 125px;
	padding-right: 12px;
	width: 100px;
	padding-bottom:5px; 
	color: #aaa;
}
/* end NBA324 */
/* Begin NBA303*/
.radioGrpBilling{
	float: right; 
	margin-right: 150px; 
	margin-top: -25px;
}
/* end NBA303 */

 .centered  {
 margin: 0px auto;
text-align: top;
 }


.left {
float: left;   
}