<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>CompleteWorkSystems</shortname>
	<tag>
		<name>CompleteWorkSystems</name>
		<tagclass>com.csc.fs.accel.ui.tag.CompleteWorkSystems</tagclass>
		<bodycontent>empty</bodycontent>
		<info></info>
	</tag>
</taglib>
