<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
	<tlibversion>1.1</tlibversion>
	<jspversion>1.2</jspversion>
	<shortname>Help</shortname>
	<tag>
		<name>Link</name>
		<tagclass>com.csc.fs.accel.ui.tag.HelpTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info></info>
		<attribute>
			<name>contextId</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tooltipText</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>imageName</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>rendered</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>systemId</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<!-- begin FNB004 -->
		<attribute>
			<name>location</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<!-- end FNB004 -->
	</tag>
</taglib>
