<?xml version="1.0" encoding="UTF-8"?>
<!-- begin NBA350 -->
<taglib xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.1">
	<tlib-version>1.2</tlib-version>
	<short-name>ImageViewer</short-name>
	<tag>
		<name>Handler</name>
		<tag-class>com.csc.fs.accel.ui.tag.ImageViewer</tag-class>
		<body-content>empty</body-content>
<!-- end NBA350 -->		
	</tag>
</taglib>