<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
	<tlibversion>1.1</tlibversion>
	<jspversion>1.2</jspversion>
	<shortname>PopulateBean</shortname>
	<tag>
		<name>Load</name>
		<tagclass>com.csc.fs.accel.ui.tag.PopulateBean</tagclass>
		<bodycontent>empty</bodycontent>
		<info></info>
		<attribute>
			<name>serviceName</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
