<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>N5_W_Convictions</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>Convictions</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">The 
 Underwriter will use this information to determine if there's any current 
 concern. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Sample 
 introduction for Questionnaire:</p></li>
	
	<ol>
		
		<li style="list-style: decimal;"
			type=1
			class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">I 
 will bring up a questionnaire at this time due to your participation in 
 this activity (i.e. avocation) or to gather some additional information 
 (i.e., medical condition or drug/alcohol use)</p></li>
		
		<li style="list-style: decimal;"
			type=1
			class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">The 
 information that we gather in the questionnaire will become a part of 
 your policy. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->At 
 the time of policy deliver, this information will be presented for your 
 review and signature.</p></li>
	</ol>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

<p>&nbsp;</p>

</body>

</html>
