<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>QX_W_AfterInterviewQuestions</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=740>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>After Interview Questions</h1>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">All 
 examiners are required to complete a training program.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Some 
 examiners are LPN's, RN's, EMT's, etc.</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Specimen Why's</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Normal 
 results will be provided with a copy of your policy.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">If 
 abnormal, a copy will be sent to your personal physician upon receipt 
 of your signature.</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Testing Why's</p>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Tests include:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Blood 
 - Cholesterol, blood sugar, liver function, kidney function and HIV.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Urine 
 - Protein levels, sugar, kidney function, nicotine, drugs.</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Vitals, 
 ht, wt, blood pressure, pulse</p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Specific 
 tests - Our department does not have access to that information. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(create 
 memo to send to underwriter per guidelines)</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Data Release Why's</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Per 
 your signature on the Authorization, acknowledgement, and Acceptance page 
 of Part 1 of the Application, CSC Financial Services will not release any data obtained 
 to any person or organization except to insurance companies or the Medical 
 Information Bureau, Inc., or as required by law, or as you may further 
 authorize. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Data 
 obtained from sources other than the Medical Information Bureau, Inc., 
 may also be released to other persons or organizations performing business 
 or legal services in connection with your application or claim.</p></li>
</ul>

<p style="margin-top: 5pt; margin-bottom: 5pt;"><a href="../XX_Close_Page.htm"><img 
 src="../close.bmp"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 51px;
			height: 23px;
			float: none;"
	width=51
	height=23
	border=0></a></p>

</body>

</html>
