.topMenu {
}

.submenu {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #AAAAAA;
  padding: 0px;
}

.topItemNormal {
  background-image: url(images/css/btn1.gif);
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
  width: 100px;
  height: 32px;
  padding-left: 1px;
}

.topItemOver {
  background-image: url(images/css/btn2.gif);
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
  width: 100px;
  height: 32px;
  padding-left: 1px;
}

.itemNormal {
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 5px;
  width: 200px;
}

.itemOver {
  cursor: pointer;
  background-color: #357EF8;
  padding: 5px;
  width: 200px;
}

.itemTextNormal {
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  color: #000000;
  width: 100%
}

.itemTextOver {
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  width: 100%
}

.topItemTextNormal2 {
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  width: 100%
}

.topItemTextOver2 {
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  width: 100%
}

