<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>phi Help and Why Test Page</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2485>
<meta name=layout-width content=958>



</head>

<!--(Body)==========================================================-->


<body>

<h1>PHI (FNB004) RoboHelp POC - <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Help 
 &amp; Why (Appendix B v3.0.01)</h1>

<p>This is the default topic page in the phiHelp project, and its purpose 
 is for testing the existing pages created in RoboHelp without having to 
 integrate to any desktop application. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<p>It does not use ANY .css (stylesheet). <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->There 
 is no table of contents, no indexing, no search enabled, etc. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->What 
 you have here is straight html. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Default 
 font for this version of RoboHelp is Times New Roman 12pt. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->You 
 can change any of these choices at any time. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->These 
 pages are just to allow review of the RoboHelp capabilities.</p>

<p>Map IDs have been generated the exported properties files are included 
 in the zip file provided.</p>

<p>Here are some of the known limitations for RoboHelp, as it pertains 
 to your project:</p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>I cannot indicate a specific page size for any 
 individual page. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 you wish the pages to open to a certain size and position then you must 
 control that from your application with the call to open the help page. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p>There is no concept of pushbutton navigation. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->The only 
 navigation option is via hyperlink to another specific page. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->I 
 have provided a &quot;Back&quot; pushbutton graphic which is hyperlinked 
 to the previous page. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->RoboHelp 
 expects users to use the X provided in the upper right of all browser 
 windows to close a view; therefore, I have not provided any close pushbuttons.</p></li>
</ol>

<h2>Help and Why Test Interface</h2>

<p style="margin-top: 5pt; margin-bottom: 5pt;">Click the desired icon 
 to access the help or the why contents specific to the question listed:</p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">L1 
 Interview Date? <a href="Help/L1_H_InterviewDate.htm"
					target=_blank><img src="help.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 16px;
												height: 16px;
												float: none;
												border-style: none;
												border-style: none;"
										width=16
										height=16
										border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">L2 
 Proposed Insured's Legal Name? <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">L2A 
 Addendum? <a href="Help/L2A_H_Addendum.htm"
				target=_blank><img src="help.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 16px;
											height: 16px;
											float: none;
											border-style: none;
											border-style: none;"
									width=16
									height=16
									border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">L4 
 Permanent Resident of the US? <a href="Help/L4_H_Resident.htm"
									target=_blank><img src="help.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 16px;
	height: 16px;
	float: none;
	border-style: none;
	border-style: none;"
														width=16
														height=16
														border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M1 
 Employer's Name? <a href="Help/M1_H_EmployersName.htm"
					target=_blank><img src="help.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 16px;
												height: 16px;
												float: none;
												border-style: none;
												border-style: none;"
										width=16
										height=16
										border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M2 
 What type of products or services does this business offer? <a href="Help/M2_H_ProductsServices.htm"
	id=a1
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M2_W_ProductServices.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M3 
 Do you have any ownership in this business? <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 so, what percent? <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<a href="Why/M3_W_Ownership.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M4 
 Job titles and list of duties? <a href="Help/M4_H_JobTitlesDuties.htm"
									target=_blank><img src="help.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 16px;
	height: 16px;
	float: none;
	border-style: none;
	border-style: none;"
														width=16
														height=16
														border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M4_W_JobTitlesDuties.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M5 
 How long have you been an employee of or had ownership in this business? 
 <a href="Help/M5_H_LengthEmployment.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M5_W_LengthEmployment.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M6 
 Do you have any other jobs, businesses, or do you volunteer work? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/M6_H_OtherJobs.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M6_W_OtherJobs.htm"><!--kadov_tag{{</spaces>}}--><img src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M7A 
 Type of Business? <a href="Help/M7A_H_TypeOfBusiness.htm"
						target=_blank><img src="help.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 16px;
													height: 16px;
													float: none;
													border-style: none;
													border-style: none;"
											width=16
											height=16
											border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M7A_W_TypeOfBusiness.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M8 
 As of business year end did the business show a net profit or loss? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/M8_H_ProfitLoss.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M8_W_ProfitLoss.htm"><!--kadov_tag{{</spaces>}}--><img src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M9 
 What is the Market Value of the business? <a href="Help/M9_H_MarketValue.htm"
												target=_blank><img src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/M9_W_MarketValue.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M10 
 What is your Annual Earned Income from the business? <a href="Help/M10_H_AnnualIncome.htm"><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/M10_W_AnnualIncome.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M11 
 What amount did you receive for an annual bonus or profit sharing in the 
 last fiscal year? <a href="Help/M11_H_Bonus.htm"
						target=_blank><img src="help.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 16px;
													height: 16px;
													float: none;
													border-style: none;
													border-style: none;"
											width=16
											height=16
											border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/M11_W_Bonus.htm"><!--kadov_tag{{</spaces>}}--><img src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M12 
 Do you have any other source of income in your name? <a href="Help/M12_H_AdditionalSource.htm"
														target=_blank><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/M12_W_AdditionalSource.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M13 
 What is your approximate personal net worth? <a href="Help/M13_H_NetWorth.htm"><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/M13_W_NetWorth.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">M14 
 Have you ever filed for a business or personal bankruptcy? <a href="Help/M14_H_Bankruptcy.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N1A 
 Pilot in last 3 years? <a href="Help/N1A_H_Pilot.htm"
							target=_blank><img src="help.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 16px;
														height: 16px;
														float: none;
														border-style: none;
														border-style: none;"
												width=16
												height=16
												border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N1A_W_Pilot.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N1B 
 Racing/scub or sky diving in last 3 years? <a href="Help/N1B_H_Racing.htm"><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/N1B_W_Racing.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N1C 
 Rock climbing or extreme sports in last 3 years? <a href="Help/N1C_H_Climbing.htm"><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/N1C_W_Climbing.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N1D 
 Convictions in last 3 years? <a href="Help/N1D_H_Convictions.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N1D_W_Convictions.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N2 
 Tobacco in last 10 years? <a href="Help/N2_H_Tobacco.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N2_W_Tobacco.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N3 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Alcohol 
 in the last 10 years? <a href="Help/N3_H_AlcoholUse.htm"
							target=_blank><img src="help.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 16px;
														height: 16px;
														float: none;
														border-style: none;
														border-style: none;"
												width=16
												height=16
												border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N3_W_AlcoholUse.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N4 
 Have you ever been advised to limit your use of alcohol? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/N4_H_AlcoholAdvisory.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N4_W_AlcoholAdvisory.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N5 
 have you ever been convicted of a misdemeanor or felony? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/N5_H_Convictions.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N5_W_Convictions.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N6 
 Do you intend to travel or reside internationally in the next year? <a 
 href="Help/N6_H_Travel.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N6_W_Travel.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">N62 
 Are you a member or do you intend to join any armed forces or military 
 reserve? <a href="Help/N62_H_ArmedForces.htm"
			target=_blank><img src="help.gif"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 16px;
										height: 16px;
										float: none;
										border-style: none;
										border-style: none;"
								width=16
								height=16
								border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/N62_W_ArmedForces.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O1A 
 A. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Name 
 of personal physician: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(First, 
 Middle, Last) <a href="Help/O1A_H_Physician.htm"
					target=_blank><img src="help.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 16px;
												height: 16px;
												float: none;
												border-style: none;
												border-style: none;"
										width=16
										height=16
										border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O1B 
 B. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Name 
 of clinic (if applicable): <a href="Help/O1B_H_Clinic.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O1C 
 C. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Address: 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->(Street, 
 City, State, Zip) <a href="Help/O1C_H_Address.htm"
						target=_blank><img src="help.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 16px;
													height: 16px;
													float: none;
													border-style: none;
													border-style: none;"
											width=16
											height=16
											border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O1D 
 D. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Date 
 and reason for last visit? <a href="Help/O1D_H_DateLastVisit.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O2A 
 In last 5 years? <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Including 
 any doctor, chiropractor, nurse practitioner or Physician's Assistant? 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Who? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/O2A_H_OtherProvider.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/O2A_W_OtherProvider.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O3B 
 3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Proposed 
 Insured's: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->B. 
 Has your weight changed more than 15 lbs. in the last year? <a href="Help/O3B_H_Weight.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">O4 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Acquired 
 Immune Deficiency Syndrome (&quot;AIDS&quot;), AIDS Related Complex or 
 AIDS Related Condition? <a href="Help/O4_H_Aids.htm"
							target=_blank><img src="help.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 16px;
														height: 16px;
														float: none;
														border-style: none;
														border-style: none;"
												width=16
												height=16
												border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P1A 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Within 
 the last 5 years, have you: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->A. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Had any 
 diagnostic test such as: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->EKG, 
 MRI, CT scan, ultrasound, x-ray, colonoscopy or any other test? <a href="Help/P1A_H_DiagnosticTests.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P1B 
 1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Within 
 the last 5 years, have you: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->B. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Been advised 
 to have any test, hospitalization or surgery which was not done? <a href="Help/P1B_H_Hospitalization.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2A 
 2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Have 
 you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->A.. 
 Epilepsy, seizure, dizziness, fainting, or nervous disorder? <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<a 
 href="Help/P2A_H_Seizures.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2B 
 2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Have 
 you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->B. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Anxiety, 
 depression, attention deficit hyperactivity disorder (ADHD), stress or 
 other mental disorder? <a href="Help/P1B_H_Hospitalization.htm"
							target=_blank><img src="help.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 16px;
														height: 16px;
														float: none;
														border-style: none;
														border-style: none;"
												width=16
												height=16
												border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2C 
 2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Have 
 you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->C. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Cancer, 
 diabetes, glandular disorder, thyroid disorder, or high cholesterol? <a 
 href="Help/P2C_H_CancerDiabetesGlands.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/P2C_W_CancerDiabetesGlands.htm"><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2D? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->D. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Chest pain, 
 high blood pressure, stroke, heart murmur, or other circulatory disorder? 
 <a href="Help/P2D_H_Heart.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/P2D_W_Heart.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2E? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->E. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Kidney, 
 urinary, or reproductive disorder? <a href="Help/P2E_H_Kidney.htm"
										target=_blank><img src="help.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 16px;
	height: 16px;
	float: none;
	border-style: none;
	border-style: none;"
															width=16
															height=16
															border=0></a> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2F? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->F. 
 Liver or gastrointestinal disorder? <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Help/P2F_H_Liver.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/P2F_W_Liver.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2G? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->G. 
 Asthma, sleep apnea or other respiratory disorders? <a href="Help/P2G_H_Asthma.htm"
														target=_blank><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/P2G_W_Asthma.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2H? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->H. 
 Loss of vision or hearing, amputation, deformity, paralysis or other disability? 
 <a href="Help/P2H_H_VisionLoss.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/P2H_W_VisionLoss.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2I? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->I. 
 Arthritis or back discomfort or disorder, carpal tunnel syndrome, fibromyalgia 
 or any disorders of the muscles, bones, joints or skin? <a href="Help/P2I_H_Arthritis.htm"
															target=_blank><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/P2I_W_Arthritis.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2J? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->J. 
 Counseling for alcohol or drug use or dependence? <a href="Help/P2J_H_Drugs.htm"
														target=_blank><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a href="Why/P2J_W_Drugs.htm"
														target=_blank><!--kadov_tag{{</spaces>}}--><img 
 src="why.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 23px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P2K? 
 Have you ever been treated for or had: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->K. 
 If applicable, a complicated pregancy, or are you now pregnant? <a href="Help/P2K_H_Pregnancy.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P3. 
 In your immediate family is there any history (parents, siblings) of diabetes, 
 heart or kidney disease, high blood pressure, cancer or stroke? <a href="Help/P3_H_FamilyHistory.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/P3_W_FamilyHistory.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P4A 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Family 
 History <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Father 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age - State 
 of Health <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age 
 at Death - Cause of Death <a href="Help/P4A_H_Father.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P4A 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Family 
 History <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Mother 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age - State 
 of Health <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age 
 at Death - Cause of DeathQuestion? <a href="Help/P4A_H_Mother.htm"
										target=_blank><img src="help.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 16px;
	height: 16px;
	float: none;
	border-style: none;
	border-style: none;"
															width=16
															height=16
															border=0></a> 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P4A 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Family 
 History <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Brother(s) 
 Age - State of Health <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age 
 at Death - Cause of Death? <a href="Help/P4A_H_Brother.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">P4A 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Family 
 History <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Sister(s) 
 Age - State of Health <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Age 
 at Death - Cause of Death? <a href="Help/P4A_H_Sister.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Q1. 
 Can you please provide information on all applications you've made in 
 the past two years for life, disability or health insurance (either individual 
 or group health coverage)? <a href="Help/Q1_H_OtherInsuranceApps.htm"
								target=_blank><img src="help.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 16px;
															height: 16px;
															float: none;
															border-style: none;
															border-style: none;"
													width=16
													height=16
													border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/Q1_W_OtherInsuranceApps.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Q2. 
 Do you have any life insurance in force (including group)? <a href="Help/Q2_H_LifeInsurance.htm"
	target=_blank><img src="help.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 16px;
								height: 16px;
								float: none;
								border-style: none;
								border-style: none;"
						width=16
						height=16
						border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<a 
 href="Why/Q2_W_LifeInsurance.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Q2. 
 Do you have any disability income insurance in force? <a href="Help/Q2_H_DisabilityIncome.htm"
															target=_blank><img 
 src="help.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 16px;
			height: 16px;
			float: none;
			border-style: none;
			border-style: none;"
	width=16
	height=16
	border=0></a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Post 
 Interview - thanks for answering - there is a why in the spreadsheet <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<a 
 href="Why/QX_W_AfterInterviewQuestions.htm"
	target=_blank><!--kadov_tag{{</spaces>}}--><img src="why.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 23px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=23
													height=22
													border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Default 
 Help Page <a href="Help/Default_Help_Page.htm"
				target=_blank><img src="help.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 16px;
											height: 16px;
											float: none;
											border-style: none;
											border-style: none;"
									width=16
									height=16
									border=0></a></p></li>
	
	<li class=kadov-p><p style="margin-top: 5pt; margin-bottom: 5pt;">Default 
 Why Page <a href="Why/Default_Why_Page.htm"
			target=_blank><img src="why.gif"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 23px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=23
								height=22
								border=0></a></p></li>
</ol>

<p style="margin-top: 5pt; margin-bottom: 5pt;">&nbsp;</p>

<p><a href="XX_Close_Page.htm"><img src="close.bmp"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 51px;
											height: 23px;
											float: none;"
									width=51
									height=23
									border=0></a></p>

<p>&nbsp;</p>

</body>

</html>
