<!-- CHANGE LOG -->
<!-- Audit Number   Version   Change Description -->
<!-- FNB002         NB-1101   Application Entry  -->

<link rel="stylesheet" type="text/css" href="theme/nbaStyle.css"> 
<script type="text/javascript" src="javascript/rqa/tree.js"></script> 
<script type="text/javascript" src="javascript/formFunctions.js"></script> 

<TABLE border="0" width="550" cellpadding="2" cellspacing="2">
	<TBODY>
		<TR>
			<TD valign="top" align="left" width="350" class="section">										
				<div id="rqaDialogDiv" style="height: 150px;overflow: auto;" >
				<input type="hidden" name="$rqaAction$" />									
				<input type="hidden" name="$rqaSelectedQuestion$" />									
				<input type="hidden" name="$rqaCommand$" />									
 				<SCRIPT>

				    function checkForSubmit(actionValue, selectedItem) {
				        if ((9==event.keyCode) || (13==event.keyCode)) {		
				            submitForm(actionValue, selectedItem);	  
				        }	
				    }
				    
				    function setCommand(commandId) {	  
				       document.getElementById("$rqaCommand$").value = commandId;
				    }
				    
				    function displayError() {
				    	if (document.getElementById("$rqaError$") != null) {
					    	var error = document.getElementById("$rqaError$").value;
					    	if (error != null && error != "") {
								if (document.all["Messages"] != null){
								    //Begin SPR3356	
   		                                var innerText=document.all["Messages"].innerHTML;
		                                innerText=top.getInnerHTML(innerText);		    
		                                document.all["Messages"].innerHTML= innerText;  
	                                //End SPR3356  
									document.all["Messages"].innerHTML = error ;
									popupInit();
								}
					    	}
					    }
				    }
				    
				    function submitForm(actionValue, selectedItem) {
				    	if (clientValidation()) {
					       document.getElementById("$rqaAction$").value = actionValue;
					       document.getElementById("$rqaSelectedQuestion$").value = selectedItem;
	 				       document.forms['$rqaFormName$'].submit();
	 				    }
	 				    if( selectedItem == "Q_SubmitApplication") {
	 				    	var param = new Array(6);
	 				    	if( document.getElementById("mainForm:rqaInterview.Q_SubmitApplication").value == "0" &&  document.getElementById("mainForm:rqaInterview.Q_SubmitApplication").checked) {
	 				    		param[0] = "noSubmit";
	 				    	} else {
	 				    		param[0] = "doSubmit";
	 				    	}
	 				    	//begin FNB002
	 				    	param[1] = document.forms.mainForm["mainForm:modelResults"].value;
	 				    	param[2] = document.forms.mainForm["mainForm:appProposedSignatureOK"].value;
							param[3] = document.forms.mainForm["mainForm:replacementFormSignatureOK"].value;
	 				    	param[4] = document.forms.mainForm["mainForm:checkSignedOK"].value;
	 				    	param[5] = document.forms.mainForm["mainForm:pacValidationOK"].value;
	 				    	//end FNB002
	 				    	window.opener.qualityCheckReturn(param);
	 				    	window.opener.focus();
	 				    	window.close();
	 				    }
				    }
				    
				    function performOK() {
 				    	var param = new Array(5);
 				    	//begin FNB002
 				    	param[0] = document.forms.mainForm["mainForm:modelResults"].value;
 				    	param[1] = document.forms.mainForm["mainForm:appProposedSignatureOK"].value;
						param[2] = document.forms.mainForm["mainForm:replacementFormSignatureOK"].value;
 				    	param[3] = document.forms.mainForm["mainForm:checkSignedOK"].value;
 				    	param[4] = document.forms.mainForm["mainForm:pacValidationOK"].value;
 				    	//end FNB002
 				    	window.opener.qualityCheckOK(param);
 				    	window.opener.focus();
 				    	window.close();
				    }

				    function setCurrentQuestion(selectedItem) {
				       	document.getElementById("$rqaSelectedQuestion$").value = selectedItem;
				    }

				    function setControlFocus(controlName) {
				    	var control = document.getElementById(controlName);
				    	if (control != null) {
				       		control.focus();
				       }
				    }
				 	function performClose() {
 				    	if (window.opener.top.mainContentFrame != null) {
 				    		window.opener.top.hideWait();
						}
 				    	window.close();
				    }
				    
    			</SCRIPT> 
 				<!--RQADialog-->
 				</div>
				<div style="height: 150px;overflow: auto;" >
 				<!--RQADisplay-->
 				</div>
 			</TD>
			<TD align="left" valign="top" class="section1">
				<table width="230" height="100%" >
					<tr>
						<td>
							<div style="height: 200px;overflow: auto;" >
							<!--RQATree-->
							</div>
						</td>
					</tr>
				</table>
			</TD>
		</TR>
	</TBODY>
</TABLE>

			
				