<link rel="stylesheet" type="text/css" href="/csa/css/accelerator.css">

<script>
 rqapath = "/csa/images/rqa/";
 submitted = false;
</script>

<script type="text/javascript" src="/csa/javascript/rqa/tree.js"></script>
<script type="text/javascript" src="/csa/javascript/formFunctions.js"></script>


<TABLE border="0" width="750" cellpadding="2" cellspacing="2">
	<TBODY>
		<TR>
			<TD valign="top" align="left" width="450" class="section">										
				<div id="rqaDialogDiv" style="height: 300px;overflow: auto;" >
				<input type="hidden" name="$rqaAction$" />									
				<input type="hidden" name="$rqaSelectedQuestion$" />									
				<input type="hidden" name="$rqaCommand$" />									
 				<SCRIPT>

				    function checkForSubmit(actionValue, selectedItem) {	  
				        if ((9==event.keyCode) || (13==event.keyCode)) {		
				            submitForm(actionValue, selectedItem);	  
				        }	
				    }
				    
				    function setCommand(commandId) {	  
				       document.getElementById("$rqaCommand$").value = commandId;
				    }
				    
				    function displayError() {
				    	if (document.getElementById("$rqaError$") != null) {
					    	var error = document.getElementById("$rqaError$").value;
					    	if (error != null && error != "") {
								if (document.all["Messages"] != null){
								    //Begin SPR3356	
   		                              var innerText=document.all["Messages"].innerHTML;
		                              innerText=top.getInnerHTML(innerText);		    
		                              document.all["Messages"].innerHTML= innerText;  
	                                //End SPR3356  
									document.all["Messages"].innerHTML = error ;
									popupInit();
								}
					    	}
					    }
				    }
				    
				    function submitForm(actionValue, selectedItem) {
						if (actionValue == null) {
						   submitted = true;
	 				       document.forms['$rqaFormName$'].submit();
						} else if (!submitted && clientValidation()) {
						   submitted = true;
					       document.getElementById("$rqaAction$").value = actionValue;
					       document.getElementById("$rqaSelectedQuestion$").value = selectedItem;
	 				       document.forms['$rqaFormName$'].submit();
	 				    } else {	
                             return false;
						}
				    }
				    
				    function setCurrentQuestion(selectedItem) {
				       	document.getElementById("$rqaSelectedQuestion$").value = selectedItem;
				    }

				    function setControlFocus(controlName) {
				    	var control = document.getElementById(controlName);
				    	if (control != null) {
				       		control.focus();
				       }
				    }

    			</SCRIPT> 
 				<!--RQADialog-->
 				</div>
				<div style="height: 260px;overflow: auto;" >
 				<!--RQADisplay-->
 				</div>
 			</TD>
			<TD align="left" valign="top" class="section1">
				<table width="230" height="100%" >
					<tr>
						<td>
							<div style="height: 480px;overflow: auto;" >
							<!--RQATree-->
							</div>
						</td>
					</tr>
				</table>
			</TD>
		</TR>
	</TBODY>
</TABLE>

			
				