<!-- CHANGE LOG -->
<!-- Audit Number   Version   Change Description -->
<!-- NBA122			   5	  Underwriter Workbench Rewrite -->
<!-- NBA212			   7	  Content Services -->
<!-- NBA213			   7	  Unified User Interface -->

<SCRIPT language="JavaScript" src="include/tooltip.js" ></SCRIPT>
<LINK rel="stylesheet" type="text/css" name="stylesheet" href="include/styles.css">
<script type="text/javascript" language="JavaScript1.2">var dmWorkPath = "javascript/menu/";</script>
<script type="text/javascript" src="javascript/menu/dmenu.js"></script>
<script type="text/javascript" language="JavaScript1.2" src="javascript/menu/menuattributes.js"></script>

<FORM name="Nba_MenuForm" method="post" target="controlFrame">
<!-- NBA213 deleted code -->
	<SCRIPT>
		/**
		 * The struts framework resolves data for primitive HTML fields using form beans.		
		 * However state of these fields needs to be controlled using JavaScript.
		 * This method renders JavaScript built within the Action Classes. 
		 */		
		function getDisplayData(){			
			handleDDFocus();			
			displayData();
			<%
			String str = (String) request.getAttribute(NbaConstants.K_JAVASCRIPT);	
			StringBuffer newString	= new StringBuffer();		
			if(str == null){
				str =  "";
			}		
			int start = 0;
			int end = 0;
			end = str.indexOf("parent.", start);
			while (end > -1) {
				newString.append(str.substring(start, end));
				newString.append("");
				start = end + "parent.".length();
				end = str.indexOf("parent.", start);
			}
			newString.append(str.substring(start));
			%>	
			<%=newString.toString()%>						
		} 
	</SCRIPT>
</FORM>			
<!-- NBA213 deleted code -->
