<!-- CHANGE LOG -->
<!-- Audit Number   Version   Change Description -->
<!-- NBA031            3      Rewrite logon/menu/status bar in HTML -->
<!-- SPR1757           4      Online help file issues -->
<!-- SPR2380           5      General source code clean up-->
<!-- SPR2679           5      Image viewer gets closed as soon as the user navigates to another view in nbA -->
<!-- NBA128            5      Workflow Changes Project -->
<!-- NBA122            5      Underwriter Workbench Rewrite -->
<!-- SPR2829           6      Documentation clean up -->
<!--Begin NBA031 -->
<SCRIPT LANGUAGE="JavaScript">
var helpfile = "";
var loc = window.location.href;
var locarray = loc.split("/");
var current = locarray[(locarray.length-1)].split(".")[0];
delete locarray[(locarray.length-1)];
if (current=="logon" || current=="Logon" || current=="welcome" || current=="Welcome") {//SPR1757
  helpfile = "nba"; }
else {
  helpfile = current.toLowerCase(); }
var helptarget = locarray.join("/") + "docs/" + helpfile + "help.htm";
var processGuidetarget = locarray.join("/") + "docs/nbaBusinessGuide.htm"; //NBA128
</script> 

<SCRIPT LANGUAGE="JavaScript">
//begin NBA122
var appBasePath = "";
var context = "/nba/";
if(window.document.location.port != ""){
	appBasePath = window.document.location.protocol + "//" + window.document.location.hostname +":" + window.document.location.port + context;
} else {
	appBasePath = window.document.location.protocol + "//" + window.document.location.hostname + context;
}
// end NBA122

function openFAQ()
{
	var path = appBasePath + "docs/nbafaq.htm"; //NBA122
    window.open(path,'FAQ','status=no,resizable=yes,scrollbars=yes,width=600,height=400'); //NBA122
}
function openHelp()
{
//	debugger;
	var path = helptarget; //NBA122 
   	window.open(path ,'Help','status=no,resizable=yes,scrollbars=yes,width=600,height=400'); //NBA122
}

function openAbout()
{
	var path = appBasePath + "nbaaboutdialog.jsp"; //NBA122   
	openDialog(path , "400","630", ""); //SPR2380 NBA122 SPR2829
}

//SPR2679 new method
//This method closes the open Image viewer then calls logoff jsp.
function performLogOff()
{
	//begin NBA122
	if (current != "nbalogon") {
		closeImage();
	} 
	var path = appBasePath + "logoff.jsp";
	var target = "_self";	
	var titleFrame = window.parent.document.getElementById("titleFrame");
	if (titleFrame != null) { //it is a non-jsf page
		var mainContentFrame = window.parent.document.getElementById("mainContentFrame");
		mainContentFrame.style.top=0;
		target = "_parent";
	}
	window.open(path, target);
	//end NBA122
}

//NBA128 New Method
function openProcessGuide()
{
	var path = processGuidetarget; //NBA122   
    window.open(path ,'Guide','status=no,resizable=yes,scrollbars=yes,width=600,height=400'); //NBA122
}

</script>
<!--End NBA031 -->