<!-- CHANGE LOG -->
<!-- Audit Number   Version   Change Description -->
<!-- ACN001            4      Nba Risk Management Project --> 
<!-- SPRNBA-583     NB-1301   General Code Clean Up -->
<FORM name="Nba_MenuForm" method="post" target="fMenu">
<%@ page import="com.csc.fsg.nba.foundation.NbaConstants,com.csc.fsg.nba.menusupport.NbaMenuHelper, com.csc.fsg.nba.vo.NbaUserVO" %>
<% NbaUserVO userVO = (NbaUserVO) session.getAttribute(NbaConstants.S_KEY_USER); %> 
	<SCRIPT LANGUAGE="JavaScript">
		var menu_busy = false;
		var menu_formIndex = window.document.forms.length - 1;
		addSecureField("MENU_ACTION");
		//SPRNBA-583 Code Deleted
		addSecureField("UserId");		
		getField("UserId", menu_formIndex).value = "<%=userVO.getUserID()%>";
		
		
		function invokeMenuServlet(){
			if(!menu_busy){	
				window.document.forms[menu_formIndex].action = "servlet/NbaMenuServlet";		
				window.document.forms[menu_formIndex].submit();	
				window.document.forms[menu_formIndex].style.cursor = "wait";
				window.document.body.style.cursor = "wait"; 
				menu_busy = true;
			}				
		}

		function menuCallBack(e){
			if(e.length > 0){ 
				alert(e);
				window.document.body.style.cursor = "auto"; 
			}
			menu_busy = false;
		}			
					
		window.onresize = positionView; //NBA044
		positionView();	//NBA044				
	</SCRIPT>
	<IFRAME id="fMenu" name="fMenu" style="VISIBILITY: hidden; WIDTH: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 0px" border=0></IFRAME>
	<SCRIPT>
		/**
		 * The struts framework resolves data for primitive HTML fields using form beans.		
		 * However state of these fields needs to be controlled using JavaScript.
		 * This method renders JavaScript built within the Action Classes. 
		 */
		//NBA061 new method
		function getDisplayData(){			
			handleDDFocus();			
			displayData();
			<%
			String str = (String) request.getAttribute(NbaConstants.K_JAVASCRIPT);	
			StringBuffer newString	= new StringBuffer();		
			if(str == null){
				str =  "";
			}		
			int start = 0;
			int end = 0;
			end = str.indexOf("parent.", start);
			while (end > -1) {
				newString.append(str.substring(start, end));
				newString.append("");
				start = end + "parent.".length();
				end = str.indexOf("parent.", start);
			}
			newString.append(str.substring(start));
			%>	
			<%=newString.toString()%>						
		} 
	</SCRIPT>	
</FORM>	