	BODY			{	BACKGROUND-COLOR: white	}
	NOBR			{	COLOR: black;	}
	A:link			{	COLOR:#336699;	}
	SPAN			{	FONT-FAMILY:'sans-serif'; FONT-WEIGHT: bold; FONT-SIZE:12px; 	}
	INPUT			{	FONT-FAMILY:'sans-serif'; FONT-WEIGHT: bold; FONT-SIZE:12px; BACKGROUND-COLOR: white;  BORDER-COLOR: white;		}	
	SELECT			{	FONT-FAMILY:'sans-serif'; FONT-WEIGHT: bold; FONT-SIZE:12px; BACKGROUND-COLOR: white;  BORDER-COLOR: white;		}
	TEXTAREA		{	FONT-FAMILY:'sans-serif'; FONT-WEIGHT: bold; FONT-SIZE:12px; BACKGROUND-COLOR: white;  BORDER-COLOR: white;		}
	FIELDSET		{	BORDER-COLOR: rgb(204,204,204); 	}
	LEGEND			{	COLOR: black;	} /* SPR2423 */
	BUTTON			{	BACKGROUND-COLOR: rgb(204,204,204); 
						FONT-WEIGHT: bold; FONT-SIZE:12px; FONT-FAMILY:'sans-serif'; BORDER-COLOR: white;	
					}			
	.tab			{
	BORDER-RIGHT:  threeddarkshadow 1px solid;
	BORDER-TOP: thin outset;
	BORDER-LEFT: threedlightshadow 1px solid;
	BORDER-BOTTOM: threeddarkshadow 1px solid;
	POSITION: absolute;
	HEIGHT: 750px;
	WIDTH:560px;
	Z-INDEX: 100;
	OVERFLOW: auto;
	VISIBILITY:hidden;
	top: 28px;

					}
					
	.group			{	BORDER-RIGHT: 'black thin solid'; BORDER-TOP: 'black thin solid'; 
						BORDER-LEFT: 'black thin solid'; BORDER-BOTTOM: 'black thin solid'; 
						LEFT: 10px; WIDTH: 520px; POSITION: absolute; 
					}
					
	.readonly		{	BORDER-WIDTH:0px; 
						BACKGROUND-COLOR: white; 
						FONT-FAMILY:'sans-serif'; FONT-WEIGHT: normal; FONT-SIZE:12px;
					}
				
	.readonlyTextArea{ BACKGROUND-COLOR: white;
						FONT-FAMILY:'sans-serif'; FONT-WEIGHT: normal; FONT-SIZE:12px; } 
	
	.hilite			{	BACKGROUND-COLOR: rgb(51, 51, 153);
						COLOR: white ;
						BORDER-RIGHT: 'white thin groove'; 
						BORDER-TOP: 'white thin groove'; 
						BORDER-LEFT: 'white thin groove'; 
						BORDER-BOTTOM: 'white thin groove'; 
					}
					
	.selectedText	{	COLOR : white;
							
					}
				
	.disabled		{	COLOR:gray;	}

	.tvcontainer	{	BORDER-RIGHT: threedlightshadow 1px inset; 
						BORDER-TOP: thin inset; 
						BORDER-LEFT: threedlightshadow 1px inset;
						BORDER-BOTTOM: threedlightshadow 1px inset;
						POSITION: ABSOLUTE; 
						HEIGHT: 200px; WIDTH:300px; Z-INDEX: 100;OVERFLOW:AUTO; 
					}
				
	.columnlabel	{	background-color:silver; }
										
	.celltext		{	background-color :white;
						BORDER-TOP-WIDTH:0px;
						BORDER-LEFT-WIDTH:0px;
						BORDER-RIGHT:black 1px solid;  
						BORDER-BOTTOM:black 1px solid;    						
					}
					
	.cellselect		{	background :white;
						BORDER:0;
						FONT-SIZE:15px;
					}
											
	.tablecell		{	BORDER-WIDTH:0;  }
					
	.resizer		{	BORDER-RIGHT: black 2px solid; 
						BORDER-TOP: black 1px solid; 
						FILTER: alpha(opacity=25); 						 
						BORDER-LEFT: black 1px solid; 
						BORDER-BOTTOM: black 1px solid;						
					}
					
	.readonlyCell	{	BORDER-TOP-WIDTH:0px;
						BORDER-LEFT-WIDTH:0px;
						BORDER-RIGHT:black 1px solid;  
						BORDER-BOTTOM:black 1px solid;    
						BACKGROUND-COLOR: white; 
					}
	.table			{	BORDER-RIGHT:  threeddarkshadow 1px inset; 
						BORDER-TOP: thin inset; 
						BORDER-LEFT: threeddarkshadow 1px inset;
						BORDER-BOTTOM: threeddarkshadow 1px inset; 
						POSITION: ABSOLUTE; 
						HEIGHT: 200px; WIDTH:300px; Z-INDEX: 100; 					
					}
					
	.Nba_MenuParent	{	CLEAR: both;
						FONT-FAMILY:'sans-serif';
						FONT-SIZE:12px;
						FONT-WEIGHT: bold;
						TEXT-ALIGN:center;
						BACKGROUND: #333399; 
						OVERFLOW: visible; 
						LEFT: 0px; 
						WIDTH: 100%; 
						TOP: 0px; 
						HEIGHT: 20px;
						POSITION: absolute; 
						COLOR:#ffffff;
						Z-INDEX:999;
					}
					
	.Nba_StatusParent{	LEFT: 5px; 
						POSITION: absolute; 
						TOP: 20px;
						WIDTH:1000px;
						OVERFLOW:Hidden;
						Z-INDEX:0;
					}
	
	.Nba_StatusCells{	FONT-FAMILY:'sans-serif';
						FONT-SIZE:12px; 
						FONT-WEIGHT: bold;									  
						BORDER-WIDTH: 1px;
						BORDER-STYLE: solid;
						HEIGHT:21px;
						BACKGROUND-COLOR: rgb(204,204,204);	
					}			
	/* NBA097 begin */
	.tooltipcontent{	COLOR: #000000;
						TEXT-DECORATION: none;
						CURSOR: Default;
						/* 
							NBA118 : If Font family is modified, the corresponding height to weight ratio
							and point to pixel ratio needs to be updated in tooltip.js
						*/
						font-family: arial;
						/*
							NBA118 : Font size needs to be specified in points as the width and height 
							calculation for tooltip are done assuming that the font size is specified in points
							WHEN FONT SIZE IS CHANGED MODIFY THE HEIGHT ADJUSTMENT FACTOR
						*/
						font-size: 8pt;
					}

	.tooltipbackground{	BACKGROUND-COLOR: #FFFFD0;
					}
	/*NBA118 begin*/
	#ToolTip{			position:absolute;
						width: 100px;
						top: 0px;
						left: 0px;
						z-index:999;
						visibility:hidden;
						BACKGROUND-COLOR: #FFFFD0;
					}
	.indent {
				margin-left: 3%;
                margin-top: 2%;
	}
	/* NBA118 end */		
	/* NBA097 end */
	/* NBA115 begin */
		.ieLegendFix{		position:absolute;
							FONT-FAMILY:'sans-serif';
							FONT-WEIGHT: bold;
							FONT-SIZE:12px;
							top:-2.2em !important;
							top:-0.8em;
							background-color: white;
							color: black;
							margin: 0px 2px;
							padding: 2px 4px;
						}
	/* NBA115 end */

	.NbaMenuBar     	{	CLEAR: both;
						FONT-FAMILY:'sans-serif';
						FONT-SIZE:12px;
						FONT-WEIGHT: bold;
						TEXT-ALIGN:center;
						BACKGROUND: #3B3B3B; 
						OVERFLOW: visible; 
						LEFT: 0px; 
						WIDTH: 100%; 
						TOP: 0px; 
						HEIGHT: 23px;
						POSITION: absolute; 
						COLOR:#ffffff;
						Z-INDEX:9999;
					}
